<!--행님 요거이 저희가 덤벼야할 모달태그입니다-->
<section class="view-modal">
  <div class="container">
    <div class="modal fade" id="view-content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="title_place">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal_body">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="new">
  <div class="modal fade create-new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container">
          <div class="modal-header">
            <h5 class="modal-title">새 글쓰기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="create_post">
            <label for="exampleFormControlInput1">제목</label>
            <input type="text" class="form-control" id="input_title" placeholder="제목을 입력하세요">
            
            <label for="exampleFormControlTextarea1">내용</label>
            <textarea class="form-control" id="input_content" rows="10" placeholder="내용을 입력하세요"></textarea>
            
            <div class="modal-footer">
              <input style="color: #212121" id="input_image" class="my-input" name="image[]" type="file" accept="image/*" multiple="multiple" onchange="handleFiles(this.files)">
              <button type="submit" class="my-btn" onClick="create_post()">작성하기</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>  
</section>


<section class="listA">
  <div class="container">
    <div class="news">
      <% @posts.each do |p| %>
      <div class="mycard">
        <div class="card-text">
          <div class="card-title">
            <h1><%= p.title %></h1>
          </div>
          <div class="detail">
            <ul>
              <li><p>
                <%= p.created_at.to_s.split(" ")[0].split("-").first %> 년
                <%= p.created_at.to_s.split(" ")[0].split("-")[1] %> 월
                <%= p.created_at.to_s.split(" ")[0].split("-")[2] %> 일
                <%= p.created_at.to_s.split(" ")[1].split(":").first %> 시
                <%= p.created_at.to_s.split(" ")[1].split(":")[1] %> 분
              </p>
              </li>
            </ul>
          </div>
          <% if p.image.first.nil? %>
            <div class="card-photo">
            </div>
          <% else %>
            <div class="bxslider">
              <% p.image.each do |i| %>
              <div class="card-photo2">
                <%= image_tag i %>
              </div>
              <% end %>
            </div>
          <% end %>
          <div class="content">
            <div class="icon">
              <% if current_user.is_like?(p) %>
                <button onClick="like_button('<%=p.id%>')">
                  <i style="color:rgb(184,0,0);" class="fas fa-skull <%=p.id%>_like_btn" id="<%=p.id%>_like_btn"></i>
                </button>
              <% else %>
                <button onClick="like_button('<%=p.id%>')">
                  <i class="fas fa-skull <%=p.id%>_like_btn"></i>
                </button>
              <% end %>
              
              <div>
                <button onClick="post_show('<%=p.id%>')" data-toggle="modal" data-target="#view-content" class="search">
                  <i class="fas fa-search"></i>
                </button>
                
                <% if current_user.is_bookmark?(p) %>
                  <button onClick="bookmark_button('<%=p.id%>')">
                    <i class="fas fa-bookmark <%=p.id%>_bookmark_btn"></i>
                  </button>
                <% else %>
                  <button onClick="bookmark_button('<%=p.id%>')">
                    <i class="far fa-bookmark <%=p.id%>_bookmark_btn"></i>
                  </button>
                <% end %>
              </div>
              
            </div>
            <div class="show-bar">
              <p id="<%=p.id%>_like_num"><%= p.liked_users.size%>명이 무서워합니다.</p>
              <button class="btn" type="button" data-toggle="collapse" data-target="#collapse<%= p.id%>" aria-expanded="false" aria-controls="collapseExample">
                <p>내용보기 <i class="fas fa-caret-down"></i></p>
              </button>
            </div>
            
            <div class="collapse" id="collapse<%= p.id%>">
              <div class="card card-body">
                <p><%= p.content.gsub("\r\n","<br />").html_safe %></p>
              </div>
            </div>
            <hr/>
            <div class="reply" id="<%=p.id%>_rr">
              <% if p.replies.size > 2 %>
                <div style="display:flex; justify-content:flex-end;">
                  <button style="margin-top:5px; padding: 0;" class="btn" type="button" data-toggle="collapse" data-target="#replies<%= p.id %>" aria-expanded="false" aria-controls="collapseExampl">
                    <p style="font-size: ">댓글 더보기<i style="margin-left: 5px;" class="fas fa-caret-down"></i></p>
                  </button>
                </div>
                
              <% end %>
              <% i = 0 %>
              <% p.replies.each do |r| %>
                <% if i > 2 %>
                  <% break %>
                <% end %>
                <div class="reply-content" id="<%=p.id%>_rrr">
                  <p><%= r.user.username %>: <%= r.content %></p>
                  <a href="/real_story/<%=p.id%>/real_story_reply/<%= r.id %>" data-method="delete">
                    <i style="color:#212121; font-size:10px" class="fas fa-eraser reply_icon"></i>
                  </a><br>
                </div>
                <% i+= 1 %>
              <% end %>
              <% if p.replies.size > 2 %>
                <div class="collapse" id="replies<%= p.id %>">
                  <% j = 0 %>
                  <% p.replies.each do |r| %>
                    <% if j <3 %>
                      <% j += 1 %>
                      <% next %>
                    <% end %>
                    <div class="reply-content">
                        <p><%= r.user.username %>: <%= r.content %></p>
                      <a href="/real_story/<%=p.id%>/real_story_reply/<%= r.id %>" data-method="delete">
                          <i style="color:#212121; font-size:10px" class="fas fa-eraser reply_icon"></i>
                      </a><br>
                    </div>
                    <% j += 1 %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <hr>
            <div class="reply-m1">
              <textarea name="content" class="reply-input c1" id="<%=p.id%>_reply_content" rows="1" placeholder="댓글.."></textarea>
              <button id="test" class="reply-button c2" onClick="reply_create('<%=p.id%>')"><i class="fas fa-ellipsis-h"></i></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="navi">
      <div class="navi-smail">
        <ul class="edit">
          <li><button class="new" type="button" data-toggle="modal" data-target=".create-new"><i class="fas fa-pen"></i>새 글쓰기</button></li>
        </ul>
        <ul class="bookmark">
          <% @bookmarks.each do |p| %>
            <li id="<%=p.id%>_bookmark_list">
              <% if p.image.first.nil? %>
                <div class="thumb-photo">
                  <a href="/real_story/<%=p.id%>"><img src="/assets/bg.jpg"></a>
                </div>
              <% else %>
                <div class="thumb-photo2">
                  <a href="/real_story/<%=p.id%>"><%= image_tag p.image.first %></a>
                </div>
              <% end %>
              <a href="/real_story/<%=p.id%>"><h1><%= p.title %></h1></a>
              <% if current_user.is_bookmark?(p) %>
                <button onClick="bookmark_button('<%=p.id%>')"><i style="color: #c7c7c7;"class="fas fa-bookmark icon"></i></button>
              <% else %>
                <button onClick="bookmark_button('<%=p.id%>')"><i style="color:#c7c7c7;" class="far fa-bookmark icon"></i></button>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
  function reply_create(_value){
    var id = _value
    var content = document.getElementById(_value + "_reply_content").value;
    // alert(_value);
    // alert(content);
      $.ajax({
          type:"POST",
          url:"/real_story/"+id+"/real_story_reply",
          data : {
            'content' : content,
            'real_story_id': id
          },
          dataType : "json",
          success: function(e){
            // alert(e.user.username)
            $("#"+_value+"_reply_content").val("");
            $("#"+_value+"_rr").append("<div class=\"reply-content\"><p>"+e.user.username+": "+e.reply.content+"</p>"+
            "<a href=\"/real_story/"+_value+"/real_story_reply/"+e.reply.id+"\"" + " data-method=\"delete\"><i style=\"color:#212121; font-size:10px\" class=\"fas fa-eraser reply_icon\"></i><br></div>");
          },
          error: function(xhr, status, error) {
              alert(error);
          }
      });
  }
  
  function like_button(_value){
    $.ajax({
      type:"POST",
      url: "/likes/likes_toggle/"+_value,
      dataType: "json",
      success: function(e){
          // alert("@");
        // alert(str);
        if (e.like)
          document.getElementsByClassName(_value+"_like_btn")[0].setAttribute("style","color:rgb(184,0,0)");
        else
          document.getElementsByClassName(_value+"_like_btn")[0].removeAttribute("style");
        document.getElementById(_value+"_like_num").innerHTML = e.size + "명이 무서워합니다.";  
      },
      error: function(xhr, status, error){
        alert(error);
      }
    });
  }
  
  function bookmark_button(_value){
    $.ajax({
      type:"POST",
      url: "/bookmarks/bookmarks_toggle/"+_value,
      dataType: "json",
      success: function(e){
          // alert("@");
        // alert(str);
        // alert(e.bookmark);
        if (e.bookmark){
          document.getElementsByClassName(_value+"_bookmark_btn")[0].setAttribute("class","fas fa-bookmark " + _value + "_bookmark_btn");
          $(".bookmark").append("<li id=\""+_value+"_bookmark_list\">");
          
          if (e.image[0] == null){
            $("#"+_value+"_bookmark_list").append("<div class=\"thumb-photo\"><a href=\"/real_story/"+e.id+"\"><img src=\"/assets/bg.jpg\"></a></div>");
          }
          else{
            $("#"+_value+"_bookmark_list").append("<div class=\"thumb-photo2\"><a href=\"/real_story/"+e.id+"\"><img src=" + e.image[0] + "></img></a></div>");
          }
          $("#"+_value+"_bookmark_list").append("<a href=\"/real_story/"+e.id+"\"><h1>"+e.title+"</h1></a>");
          $("#"+_value+"_bookmark_list").append("<button onClick=\"bookmark_button('"+e.id+"')\"><i style=\"color: #c7c7c7;\"class=\"fas fa-bookmark icon\"></i></button>");
          $(".bookmark").append("</li>");
        }
        else{
          document.getElementsByClassName(_value+"_bookmark_btn")[0].setAttribute("class","far fa-bookmark " + _value + "_bookmark_btn");
          var x = document.getElementById(_value+"_bookmark_list");
          x.remove(x.selectedIndex);
        }
      },
      error: function(xhr, status, error){
        alert(error);
      }
    });
  }
  
  function create_post(){
    var title = document.getElementById("input_title").value;
    var content = document.getElementById("input_content").value;
    var inputElement = document.getElementById("input_image");
    inputElement.addEventListener("change", handleFiles, false);
    var fileList;
    function handleFiles() {
      fileList = this.files; /* now you can work with the file list */
    }
    $.ajax({
      type:"POST",
      url: "/real_story",
      data: {
        'input_title': title,
        'input_content': content,
        'input_image': fileList
      },
      dataType: "json",
      success: function(e){
        document.getElementById(_value+"_like_num").innerHTML = e.size + "명이 무서워합니다.";
      },
      error: function(xhr, status ,error){
        alert(error);
      }
    });
  }
  
  function post_show(_value){
    $.ajax({
      type: "GET",
      url: "/real_story/"+_value+"/ajax_show",
      data:{
        
      },
      dataType: "json",
      success: function(e){
        var list = document.getElementById("modal_body");
        list.removeChild(list.childNodes[0]);
        document.getElementById("title_place").innerHTML = e.post.title;
        // document.getElementById("modal_body")
        $("#modal_body").append("<section class=\"listA\"><div class\"container\"><div class=\"news\"><div class=\"mycard\"><div class=\"card-text\" id=\"photo_place\"> ");
        
        if (e.image[0] == null)
          $("#photo_place").append("<div class=\"card-photo\"></div>");
        else{
          $("#photo_place").append("<div class=\"bxslider\" id=\"photo_zone\">");
          // alert(e.size);
          for (var i = 0; i < e.size; i++){
            $("#photo_zone").append("<div class=\"card-photo2\">");
            $("#photo_zone").append("<img src=" + e.image[i] + "></img></div>");
          }
        }
        $("#modal_body").append("</section></div></div></div></div></div>");
      },
      error: function(xhr, status ,error){
        alert(error);
      }
    });
  }

//무한스크롤 코드 
  // var count = 4;
  // var stringTemp = ""
  // function call(){
  //     $.ajax({
  //         type:"get",
  //         url:"/post/ajaxCall",
  //         data : {'count' : count},
  //         dataType : "json",
  //         success: function(data){
  //             alert(data[title]);
  //         },
  //         error: function(error) {
  //             alert("#");
  //         }  
  //     });
  //   }
    
  //   var page = 1;
  
  //   $(window).scroll(function() {
  //       if ($(document).height() > $(window).height()) {
  //         $("#enters").append("<h1>Page</h1>" + page );
  //         call();
  //       }
  //   });
</script>